body
{
	font-family: Helvetica;
}

h1
{
	font-size: 48px;
}

p
{
	font-size: 100%;
}

#careerprofile {
	background-color: #FEFEFE;
}

#contact {
	background-color: #FEFEFE;
	font-size: 110%;
}

#careeroverview {
	background-color: #FEFEFE;
	font-size: 110%;
}
